# Node.js
npm-debug.log
yarn-error.log

# Темповые файлы
temp/

# Конфигурации IDE
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Docker
.dockerignore
docker-compose.yml

# Пакеты
yarn.lock

# Логи
*.log
