# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Темповые файлы
temp/

# Конфигурации IDE
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Пакеты
package-lock.json
yarn.lock

# Логи
*.log
